# AWS Configuration
AWS_REGION=us-east-2
S3_BUCKET_NAME=your_s3_bucket_name

# PostgreSQL Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=customer_churn
DB_USER=postgres
DB_PASSWORD=your_postgres_password